<!--div id="spree-footer">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
<span>app/views/spree/shared/_footer.html.erb</span>
        <!--figure id="logo" class="col-md-4 col-sm-3" data-hook>
          <%#= logo %>
        </figure-->
        <%#= render partial: 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container">
    <%#= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div-->

<!------------------------------>
<!-- Footer -->
<style>
.blanco {color: white;}
h5 {font-weight: bold;}
</style>



<!--span>app/views/spree/shared/_footer.html.erb</span-->
	<section id="spree-footer">
		<div class="container" style="padding: 0px 130px;">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4" style="text-align: left;">
					<h5>INFORMACIÓN</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();" class="blanco">Quienes Somos</a></li>
						<li><a href="javascript:void();" class="blanco">Contáctanos</a></li>
						<li><a href="javascript:void();" class="blanco">FAQ</a></li>
						<li><a href="javascript:void();" class="blanco">Mapa del Sitio</a></li>
						<li><a href="javascript:void();" class="blanco">Términos y Condiciones</a></li>
						<li><a href="javascript:void();" class="blanco">Política de privacidad</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4" style="text-align: left;">
					<h5>GRUPO PAZ VERDE</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();" class="blanco">Trabajemos juntos</a></li>
						<li><a href="javascript:void();" class="blanco">Blog</a></li>
						<li><a href="javascript:void();" class="blanco">Data</a></li>
						<li><a href="javascript:void();" class="blanco">Publicidad</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4" style="text-align: left;">
					<h5>CONÉCTATE</h5>
					<ul class="list-unstyled  list-inline social quick-links">
						<li><a href="javascript:void();" class="blanco"><i class="fa fa-facebook" style="font-size:36px"></i></a></li>
						<li><a href="javascript:void();" class="blanco"><i class="fa fa-twitter" style="font-size:36px"></i></a></li>
						<li><a href="javascript:void();" class="blanco"><i class="fa fa-instagram" style="font-size:36px"></i></a></li>
						<li><a href="javascript:void();" class="blanco"><i class="fa fa-google-plus" style="font-size:36px"></i></a></li>
						<!--li><a href="https://wwwe.sunlimetech.com" title="Design and developed by" style="font-size:36px"><i class="fa fa-angle-double-right"></i>Imprint</a></li-->
					</ul>
				</div>
			</div>
			<div class="row">
				<!--div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div-->
				</hr>
			</div>	
			<!--div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="#">ComparaGrow</a></u> es una marca registrada</p>
					<p class="h6">&copy All right Reserved.<a class="text-green ml-2" href="#" target="_blank"></a></p>
				</div>
				</hr>
			</div-->	
		</div>
	</section>
	<!-- ./Footer -->
