<!-- app/views/spree/shared/_main_nav_bar.html.erb -->
<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <!--li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li-->
      <% Spree::Taxonomy.all.each do |a| %>
        <li id="home-link" data-hook><a href="/t/<%=a.name%>"><%= a.name.gsub('-','<br/>').upcase.html_safe %></a>
        </li>
      <% end %>
    </ul>

  </div>
</nav>
